sai
*.o
.DS_Store
*.wav
*.a
*.os
*.so
*.dylib
*.exe
*.log
*.tmp
*.out
*.swp
*.swo
build/
bin/
!tinycore/rootfs/usr/local/bin/
tinycore/rootfs/usr/local/bin/*
!tinycore/rootfs/usr/local/bin/sai-platform-service
third_party/flite/build/
third_party/flite/bin/
Docker.dmg
1/
piCore64-16.0.0.img.gz
